{
    "name": "Automatic Plant Shop - Development",
    "database": {
        "client": "postgresql",
        "connection": {
            "host": "localhost",
            "database": "{{ DEVELOPMENT_DATABASE_NAME }}",
            "user": "{{ DATABASE_USER }}",
            "password": "{{ DATABASE_PASSWORD }}",
            "url": "",
            "ssl": false
        },
        "pool": {
            "min": 2,
            "max": 10
        },
        "migrations": {
            "tableName": "knex_migrations"
        }
    },
    "mqtt": {
        "connection": {
            "host": "{{ MQTT_BROKER_HOST }}",
            "port": 1883,
            "username": "{{ MQTT_USERNAME }}",
            "password": "{{ MQTT_PASSWORD }}"
        }
    },
    "webhook": {
        "client_base_url": "http://localhost:3000"
    },
    "http_signal": {
        "bank_base_url": "http://localhost:7000"
    },
    "localhost": {
        "localhost_base_url": "http://localhost:3002"
    }
}